<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cửa Hàng Online</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>Cửa Hàng Online</h1>
    </header>
    
    <nav class="nav">
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="/products.html">Products</a></li>
            <li><a href="/cart.html">Cart</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/login">login</a></li>
        </ul>
    </nav>
    
    <!-- Nội dung trang chủ -->
    <section id="home">
        <h2>Welcome to our Online Store</h2>
        <p>Discover our wide range of products and shop from the comfort of your home!</p>
    </section>

    <script src="script.js"></script>
</body>
</html>
